<section class="min-h-screen  md:h-96 fondo-bg">
  <!-- <shared-navbar [showOptions]="false"></shared-navbar> -->
  <div class="flex flex-col px-40 py-5">
    <div
      class="flex w-full items-center justify-center lg:justify-between border border-x-stone-300 bg-gradient-to-br from-gray-10 to-gray-50-14">
      <!-- Right column container with form -->
      <div
        class="sm:w-5/6 md:w-5/9 lg:w-7/9 flex-wrap items-center flex-justify-center">
        <h1
          class="text-center justify-center text-white font-bold text-5xl mb-12">
          Inicia sesión
        </h1>
        <form (ngSubmit)="login()"  [formGroup]="loginForm" autocomplete="off" 
          class="md:w-6/12 lg:w-10/12 flex-wrap items-center flex-justify-center pl-20" >
          <!-- Email input -->
          <div class="relative mb-6" data-twe-input-wrapper-init>
            <h2 class="md:w-2/5 text-white font-semibold text-xl pb-2">
              E-mail
            </h2>
            <input type="email"
              class="peer block min-h-[auto] sm:w-24 md:w-48 lg:w-full rounded border-10 bg-white px-3 py-[4px] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-100"
              id="email" formControlName="email" name="required"
              placeholder="Correo electrónico" />
            <span class="form-text text-red-600" *ngIf="
                loginForm.controls['email'].getError('required') &&
                loginForm.controls['email'].touched
              " class="form-text">El email es obligatorio.
            </span>
            <span *ngIf="
                loginForm.controls['email'].getError('email') &&
                loginForm.controls['email'].touched
              " class="form-text">Ingresa correo electrónico valido
            </span>
          </div>

          <!-- Password input -->
          <div class="relative mb-6 pb-10" data-twe-input-wrapper-init>
            <h2 class="md:w-1/5 text-white font-semibold text-xl pb-2">
              Contraseña
            </h2>
            <input type="password"
              class="peer block min-h-[auto] sm:w-24 md:w-48 lg:w-full rounded border-10 bg-white px-3 py-[4px] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-100"
              id="password" formControlName="password" 
              placeholder="Contraseña" />
            <span *ngIf="
                loginForm.controls['password'].hasError('minlength') &&
                loginForm.controls['password'].touched
              " class="form-text">La contraseña debe tener al menos {{ loginForm.controls['password'].getError('minlength')?.requiredLength }} caracteres.
            </span>
            <span *ngIf="
                loginForm.controls['password'].hasError('required') &&
                loginForm.controls['password'].touched
              " class="form-text">La contraseña es obligatoria.</span>
            <p class="text-end text-white font-light text-sm">
              ¿Olvidaste tu contraseña?
              <a href="#" class="font-bold text-white-600 hover:text-gray-600">
                Recupérala aquí.
              </a>
            </p>
          </div>
          <div class="flex justify-center">
            <button type="submit"
              class="w-56 bg-purple-500 hover:bg-yellow-400 text-white font-bold  hover:text-black py-2 rounded-full mb-6">
              INGRESAR
            </button>
          </div>
          <!-- Remember me checkbox -->
          <div class="mb-9 pt-6 items-justify-between">
            <div class="mb-[0.125rem] block max-h-[1.5rem]">
              <p
                class="w-full font-light text-white text-lg items-justify-between focus:outline-none dark:text-primary-400">
                ¿Aún no tienes una cuenta?
                <a routerLink="../register" id="register"
                  class="text-white-600 font-extrabold focus:outline-none hover:text-gray-600 dark:text-primary-400">Regístrarte
                  aquí.
                </a>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div
        class="md:hidden sm:hidden s:hidden lg:block bg-cover w-4/6 bg-no-repeat pt-10 pb-10 px-5">
        <img src="../../../../../assets/wallapaper animation .png"
          alt="Image Description" />
      </div>
      <div>
        <!-- Left column container with background-->
      </div>
    </div>
  </div>
</section>