<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-16 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-white">
        El futuro de el comercio en 3D. <br class="hidden lg:inline-block" />Un
        universo del 3D
      </h1>
      <p class="mb-8 leading-relaxed font-light text-gray-100">
        No importa si eres un profesional experimentado o un principiante
        apasionado, Animessence está diseñado para potenciar tu talento y
        ayudarte a crear obras maestras. ¡Empieza hoy y descubre por qué
        Animessence es la elección preferida de los artistas 3D en todo el
        mundo!
      </p>
      <div class="flex justify-center">
        <button
          class="inline-flex text-white bg-violet-500 shadow-lg shadow-indigo-500/50 border-1 border:bg-yellow-500: hover:bg-yellow-400 hover:text-black py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg shadow-red-950 rounded-full"
          routerLink="/login"
        >
          Inicia sesión
        </button>
        <button
          class="ml-4 inline-flex text-white bg-violet-500 shadow-lg shadow-indigo-500/50 border-1 border:bg-yellow-500: hover:bg-yellow-400 hover:text-black py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg shadow-red-950 rounded-full"
          routerLink="/register"
        >
          Regístrate
        </button>
      </div>
    </div>
  </div>
  <section class="text-white-600 body-font">
    <div class="container px-5 py-6 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2
          class="text-xm text-black tracking-widest font-medium title-font mb-1"
        >
          APROVECHA TU TALENTO E INNOVACION
        </h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">
          Vende y compra Assets para tus proyectos
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-black">
          "¡Da vida a tus ideas con AnimEssence!" ✨🎨 Si eres animador o
          creativo digital, AnimEssence es la plataforma perfecta para ti.
        </p>
      </div>
      <div class="flex flex-wrap">
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
        >
          <h2
            class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
          >
            Comunidad
          </h2>
          <p class="leading-relaxed text-black mb-4">
            🌟 Explora una comunidad vibrante de artistas
          </p>
          <a class="text-indigo-50 inline-flex items-center"
            >Saber más...
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
        >
          <h2
            class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
          >
            Online
          </h2>
          <p class="leading-relaxed text-black mb-4">
            🛠️ Compra y vende assets únicos para tus proyectos.
          </p>
          <a class="text-indigo-50 inline-flex items-center"
            >Saber más...
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
        >
          <h2
            class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
          >
            Oportunidades
          </h2>
          <p class="leading-relaxed text-black mb-4">
            💼 Encuentra oportunidades de trabajo freelance y conecta con
            clientes que valoran tu talento.
          </p>
          <a class="text-indigo-50 inline-flex items-center"
            >Saber más...
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
        >
          <h2
            class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
          >
            Date a conocer
          </h2>
          <p class="leading-relaxed text-black mb-4">
            💡 Mostrar tu portafolio y atraer clientes.
          </p>
          <a class="text-indigo-50 inline-flex items-center"
            >Saber más...
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="justify-center">
      <button
        class="w-120 flex px-8 mx-auto mt-16 text-center bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold hover:text-black py-2 rounded-full mb-6 text-2xl"
        routerLink="/upload"
      >
        VENDE TUS ASSETS
      </button>
    </div>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-10 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-white tracking-widest">
              Animaciones 3D
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
              Animaciones Destacadas del mes
            </h1>
            <div class="flex mb-4">
              <a
                class="flex-grow text-white-500 border-b-2 border-white-500 py-2 text-lg px-1 text-black "
                >Descripción</a
              >
              
            </div>
            <p class="leading-relaxed mb-4 text-black">
              Un animation reel es un video corto que recopila los mejores trabajos de animación de un artista o estudio. Su objetivo es demostrar habilidades, creatividad y experiencia en distintas técnicas de animación, ya sea 2D, 3D, stop motion o motion graphics.
            </p>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-black font-extrabold text-xl">Modelado</span>
              <span class="ml-auto text-gray-900"> Realizado con Sotfware ZBrush</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-black font-extrabold text-xl">Texturizado</span>
              <span class="ml-auto text-gray-900"> Realizado con Substance Painter</span>
            </div>
            <div class="flex border-t border-b mb-6 border-gray-200 py-2">
              <span class="text-black font-extrabold text-xl">Rigging</span>
              <span class="ml-auto text-gray-900">Realizado con Blender y Maya</span>
            </div>
            <div class="flex">
                <span class="title-font font-medium text-2xl text-gray-900"
                >Si te gusta, dale un like</span>
              >
              
                <button
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                  (click)="likeAnimation()"
                >
                  <svg
                  [attr.fill]="isLiked ? 'red' : 'currentColor'"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                    ></path>
                  </svg>
                </button>
            </div>
          </div>
          <div class="lg:w-1/2 w-full pt-6 ">
            <iframe
              width="440"
              height="280"
              src="https://www.youtube.com/embed/PQPu6TPqhyw?si=rfxfMPYzFZ3p997m"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            <div class="lg:w-1/2 w-full pt-6 "></div>
            <iframe
              width="440"
              height="280"
              src="https://www.youtube.com/embed/yLOUahp-RIc?si=srQIFBHSlcqBAgyz"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
